!!!5
%html
  %head
    %meta{charset: "utf-8"}/
    %link{href: "css/main.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/timeline.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/social.css", media: "screen", rel: "stylesheet"}/
    %script{src: "js/iosBridge.js"}
    %script{src: "js/jquery.js"}
    %script{src: "js/fastclick.js"}
    %script{src: "js/ui.js"}
    %script{src: "js/doc.js"}
    %script{src: "js/controls.js"}
    :javascript

      var ROOT_API_URL = 'http://www.scope.dev';

      var oldTimecode = 0;
      var currentTimecode = 0;

      var onPlay = function () {
        isPaused = false;
        beginTimelineScrolling();
      };

      var onPause = function () {
        isPaused = true;
        stopTimelineScrolling();
      };

      var setMovieInfo = function (id, title, author) {
        MOVIE_ID = id;
        $('.nav-movie-title').text(title);
        getDocumentation(id);
      };

      // move the progress bar using timecode
      var setTimecode = function (seconds) {

        oldTimecode = currentTimecode;
        currentTimecode = seconds;

        //if (currentTimecode - oldTimecode > 2)
        //   $('.timeline-body').css('left', timelinePositionWithTimecode(seconds)+'%');
      }

      var onNewNotice = function (timecode, id, title, short_content, category, color) {
        $('.timeline-last-notice .title').text(title);
        $('.timeline-last-notice .content').text(short_content);
        $('.timeline-last-notice').attr('data-notice-id', id);
        $('.timeline-cat-icon').show(0);
        $('.timeline-cat-icon img').attr('src', 'images/cat-'+category+'.png');
        $('.timeline-last-notice .title').css('color', '#'+color);
        addNoticeOnTimeline(timecode, category);
      }

      var onNewComment = function (comment, author, timecode) {
        $('.timeline-last-notice .title').text(author);
        $('.timeline-last-notice .title').css('color', '#00ecea');
        $('.timeline-last-notice .content').text(comment);
        $('.timeline-cat-icon img').attr('src', 'images/cat-comment.png');
        addNoticeOnTimeline(timecode, 'comment');
      }

      var setUserInfo = function (name, imageUrl) {
        $('.profile-name').text(name);
        $('.navbar-tabs a.nav-profile').css('background-image', 'url('+imageUrl+')');
      }

      $(function() {
          FastClick.attach(document.body);
      });

      
  %body

    .navbar-doc
      %span.with-font.title Documentation

    / HOME SCREEN
    .container.container-home

      .view-nav
        .view-line
        .view-grid

      .view-line-container
        .timeline-header
          
        / .chapter-slider
        /   .last-chapter.chapter
        /     %h4.chapter-title.with-font La découverte
        /     %p.chapter-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull
        .video-controls
          / %button#prev-chapter
          / %button#rewind
          %button.play
          / %button#forward
          / %button#next-chapter

        .timeline-last-notice

          .timeline-cat-icon
            %img{ src: 'images/cat-impact.png' }
          %h3.title.with-font 
          %p.content 
          / .display-notice-btn
          /   En savoir +

        .timeline

          .timeline-body-container
            .cursor
            .timeline-body
          
          .timeline-current-time

      .view-grid-container
        .home-header
          
        / .chapter-slider
        /   .last-chapter.chapter
        /     %h4.chapter-title.with-font La découverte
        /     %p.chapter-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull
        .video-controls
          / %button#prev-chapter
          / %button#rewind
          %button.play
          / %button#forward
          / %button#next-chapter

        .timeline-last-notice

          .timeline-cat-icon
            %img{ src: 'images/cat-impact.png' }
          %h3.title.with-font Grid view
          %p.content 
          / .display-notice-btn
          /   En savoir +

        / .timeline

        /   .timeline-body-container
        /     .cursor
        /     .timeline-body
          
        /   .timeline-current-time
    / / TIMELINE SCREEN
    / .container.container-timeline
    /   .timeline-head
      

    / SOCIAL SCREEN
    .container.container-social
      .social-form
        %div
          %label
            %span.label-main.with-font Votre message
            %span.helper 140 caractères maximum
          %textarea#message{ placeholder: 'Votre message' }
        %div
          %button.button-link.send Poster
          %label
            %span.label-main.with-font Destinataires
          %select#dest
            %option Tous mes amis

        

    / DOC SCREEN
    .container.container-doc
      .doc-head
        / %h2.home-movie-title.with-font.doc-movie-title Métropolis
        / %h3 Documentation
      .doc-main.doc-home
        .doc-search

        .doc-block.doc-movie-info
          .doc-block-title Fiche du film
        .doc-block.doc-themes{ data: { 'category-id' => 2 } }
          .doc-block-title Thèmes clés
        .doc-block.doc-analyse{ data: { 'category-id' => 4 } }
          .doc-block-title Analyses
        .doc-block.doc-impact{ data: { 'category-id' => 1 } }
          .doc-block-title Impact sur la culture
        .doc-block.doc-anecdotes{ data: { 'category-id' => 5 } }
          .doc-block-title Anecdotes
        .doc-block.doc-social
          .doc-block-title Communauté

    / ROADMAP SCREEN
    .container.container-roadmap

    / SETTINGS SCREEN
    .container.container-settings

    %nav.navbar
      .navbar-title.with-font{ onclick: 'calliOSFunction("quit", [])'}
        SC
        %span.blue> 0
        PE

      .nav-movie-title Métropolis
      .navbar-tabs
        %a.nav-home{ class: "active", href: ".container-home", onclick: "calliOSFunction('goHome', [])"}
        / %a.nav-notif{href: ".container-timeline", onclick: "calliOSFunction('goTimeline', [])"}
        / %span.unread-counter 0
        %a.nav-social{href: ".container-social", onclick: "calliOSFunction('goSocial', [])"}
        %a.nav-doc{href: ".container-doc", onclick: "calliOSFunction('goDoc', [])"}
        %a.nav-profile
          .profile-name

    .profile-nav
      %a.nav-movie{ href: ".container-movie" } Mon film
      %a.nav-roadmap{ href: ".container-roadmap" } Mon parcours
      %a.nav-settings{ href: ".container-settings" } Réglages 


    %script{src: "js/raphael.js"}
    