!!!5
%html
  %head
    %meta{charset: "utf-8"}/
    %link{href: "css/main.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/timeline.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/social.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/retina.css", media: "screen", rel: "stylesheet"}/
    %script{src: "js/iosBridge.js"}
    %script{src: "js/jquery.js"}
    %script{src: "js/hammer.min.js"}
    %script{src: "js/jquery.gsap.min.js"}
    %script{src: "js/TweenLite.min.js"}
    %script{src: "js/fastclick.js"}
    %script{src: "js/ui.js"}
    %script{src: "js/doc.js"}
    %script{src: "js/controls.js"}
    :javascript

      var ROOT_API_URL = 'http://www.scope.dev';
      var FAST_FORWARD = false;
      var FAST_REWIND  = false;
      var NOTICES = [];
      var USER_FACEBOOK_ID = null;
      var CURRENT_VIEWED_NOTICE = null;

      var LAST_NOTICE_TIMECODE = -9999;

      var oldTimecode = 0;
      var currentTimecode = 0;

      var onPlay = function () {
        isPaused = false;
        beginTimelineScrolling();
        $('.play').hide(0);
        $('.pause').show(0);
      };

      var onPause = function () {
        isPaused = true;
        stopTimelineScrolling();
        $('.play').show(0);
        $('.pause').hide(0);
      };

      var setMovieInfo = function (id, title, author) {
        MOVIE_ID = id;
        $('.nav-movie-title').text(title);

        getAllNotices(id);
      };

      // move the progress bar using timecode
      var setTimecode = function (seconds) {

        oldTimecode = currentTimecode;
        currentTimecode = seconds;

        // $('.timeline-body, .cursor').css('left', timelineOffsetWithTimecode(seconds)+'%');
      }

      var onNewNotice = function (timecode, endTimecode, id, title, short_content, category, color) {

        console.log('Last timecode : '+LAST_NOTICE_TIMECODE+', current : '+timecode);

        if (Number(timecode) - LAST_NOTICE_TIMECODE < 60 ) {
          return;
        }

        LAST_NOTICE_TIMECODE = Number(timecode);
        CURRENT_VIEWED_NOTICE = id;

        $('.timeline-last-notice .title').text(title);
        $('.timeline-last-notice .content').text(short_content);
        $('.timeline-last-notice').attr('data-notice-id', id);
        $('.timeline-cat-icon').show(0);
        $('.timeline-cat-icon img').attr('src', 'images/cat-'+category+'@2x.png');
        $('.container-home').css('background', 'url(images/samples/notices/'+id+'_big.jpg) no-repeat center top');
        //$('.view-grid-container .timeline-last-notice').css('background', 'url(images/samples/notices/'+id+'_big.jpg) no-repeat center top');
        addNoticeOnTimeline(timecode, endTimecode, id, category, title);

        if ($('.container-home').is(':hidden')) {
          $('.nav-home').addClass('unread');
        }

        NOTICES[id] = { title: title, short_content: short_content, category: category, color: color, timecode: timecode };
      }

      var onNewComment = function (comment, author, timecode) {
        $('.timeline-last-notice .title').text(author);
        $('.timeline-last-notice .content').text('"'+comment+'"');
        $('.timeline-cat-icon img').attr('src', 'images/cat-comment.png');
        addNoticeOnTimeline(timecode, Number(timecode)+20, null, 'comment', '');
      }

      var setUserInfo = function (id, name, imageUrl) {
        $('.profile-name').text(name);
        $('.navbar-tabs .nav-profile .image').css('background-image', 'url('+imageUrl+')');
        $('.container-social-notlogged').remove();
        $('.container-social .profile-image').attr('src', 'http://graph.facebook.com/'+id+'/picture?type=normal');
        IS_LOGGED_IN = true;
        USER_FACEBOOK_ID = id;
      }

      $(function() {
          FastClick.attach(document.body);
      });

      
  %body

    .navbar-doc
      .doc-breadcrumb
        .item.item-1 Documentation
        .item.item-2 Thèmes clés
        .item.item-3 Déshumanisation

      .doc-search
        %input#doc-search-input{ placeholder: "Recherche rapide" }

    / HOME SCREEN
    .container.container-home

      .socials
        .facebook{ onclick: 'calliOSFunction("shareNotice", ["facebook", CURRENT_VIEWED_NOTICE])'}
        .twitter{ onclick: 'calliOSFunction("shareNotice", ["twitter", CURRENT_VIEWED_NOTICE])'}


      .view-nav
        .view-line.active
        .view-grid

      .view-line-container
        .timeline-header
          
        / .chapter-slider
        /   .last-chapter.chapter
        /     %h4.chapter-title.with-font La découverte
        /     %p.chapter-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull
        .video-controls
          / %button#prev-chapter
          / %button#rewind
          %button.play
          %button.pause
          / %button#forward
          / %button#next-chapter

        .timeline-last-notice

          .timeline-cat-icon
            %img{ src: 'images/cat-impact.png' }
          %h3.title.with-font
          %p.content 
          .display-notice-btn
            en savoir +
          .replay-btn

        .timeline

          .timeline-body-container#timeline-body-container
            / .cursor
            .timeline-body#timeline-body
              / .timeline-notice-title Test test
          
          .timeline-current-time

      .view-grid-container
        
          
        .video-controls
          / %button#prev-chapter
          / %button#rewind
          %button.play
          %button.pause
          / %button#forward
          / %button#next-chapter

        .timeline-last-notice

          .timeline-cat-icon
            %img{ src: 'images/cat-impact.png' }
          %h3.title.with-font
          %p.content 
          .display-notice-btn
            en savoir +
          .replay-btn



        .timeline
          .mask
          .timeline-body-container#timeline-body-container
            / .cursor
            .grid-timeline#grid-timeline
              / .timeline-notice-block.timeline-notice-block-themes
              /   %img.icon{ src: 'images/cat-themes.png' }
              /   .title L'enfer
              / .timeline-notice-block
              /   %img.icon{ src: 'images/cat-anecdotes.png' }
              /   .title L'enfer

          
          .timeline-current-time


    / / TIMELINE SCREEN
    / .container.container-timeline
    /   .timeline-head
      

    / SOCIAL SCREEN
    .container.container-social

      .step-2
        .social-head
          .with-font VOTRE MESSAGE...
        %img.profile-image
        .social-form
          %textarea#message{ placeholder: 'Votre message' }
            
        %button.button-link.send Poster

    .container.container-social.container-social-notlogged
      .info Connectez-vous à l'aide de votre compte Facebook pour pouvoir partager votre expérience avec les gens autour de vous.

        

    / DOC SCREEN
    .container.container-doc
      .doc-head
        / %h2.home-movie-title.with-font.doc-movie-title Métropolis
        / %h3 Documentation
      .doc-main.doc-home
        .doc-search

        .doc-block.doc-movie-info
        .doc-block.doc-themes{ data: { 'category-id' => 2, 'category' => 'themes' } }
        .doc-block.doc-analyse{ data: { 'category-id' => 4, 'category' => 'analyses'  } }
        .doc-block.doc-social
        .doc-block.doc-anecdotes{ data: { 'category-id' => 5, 'category' => 'anecdotes'  } }
        .doc-block.doc-impact{ data: { 'category-id' => 1, 'category' => 'impact'  } }
        

      / .doc-category
      /   .slider
      /     .slide-counter
      /       %span.current> 1
      /       \/
      /       %span.total 
      /     .cat-icon
      /     .title Déshumanisation
      /     .short-content L’usine elle-même, telle Chronos dévorant ses enfants, se nourrit de chair humaine. Lorsqu’ils ne périssent pas physiquement, les ouvriers sont tout simplement anéantis dans leur âme et leur singularité. 
        

    .additional-content
      .content
        %img.image{ src: 'images/samples/doc/add-sample-1.jpg' }
        .right
          .title Saturne dévorant ses enfants
          .more
          %p Saturne dévorant un de ses fils, également appelée Saturne dévorant son enfant ou simplement Saturne, est une des Peintures noires de Francisco de Goya, peinte entre 1819 et 1823 directement sur les murs de sa maison appelée la Quinta del Sordo (« Maison de campagne du Sourd ») dans les environs de Madrid. La peinture a été transférée sur une to....
      .content
        %img.image{ src: 'images/samples/doc/add-sample-2.jpg' }
        .right
          .title Chronos
          .more
          %p Saturne dévorant un de ses fils, également appelée Saturne dévorant son enfant ou simplement Saturne, est une des Peintures noires de Francisco de Goya, peinte entre 1819 et 1823 directement sur les murs de sa maison appelée la Quinta del Sordo (« Maison de campagne du Sourd ») dans les environs de Madrid. La peinture a été transférée sur une to....
      .content
        %img.image{ src: 'images/samples/doc/add-sample-2.jpg' }
        .right
          .title Chronos
          .more
          %p Saturne dévorant un de ses fils, également appelée Saturne dévorant son enfant ou simplement Saturne, est une des Peintures noires de Francisco de Goya, peinte entre 1819 et 1823 directement sur les murs de sa maison appelée la Quinta del Sordo (« Maison de campagne du Sourd ») dans les environs de Madrid. La peinture a été transférée sur une to....
      .content
        %img.image{ src: 'images/samples/doc/add-sample-2.jpg' }
        .right
          .title Chronos
          .more
          %p Saturne dévorant un de ses fils, également appelée Saturne dévorant son enfant ou simplement Saturne, est une des Peintures noires de Francisco de Goya, peinte entre 1819 et 1823 directement sur les murs de sa maison appelée la Quinta del Sordo (« Maison de campagne du Sourd ») dans les environs de Madrid. La peinture a été transférée sur une to....

    / ROADMAP SCREEN
    .container.container-roadmap

    / SETTINGS SCREEN
    .container.container-settings

    %nav.navbar
      .navbar-title.with-font{ onclick: 'calliOSFunction("quit", [])'}
        SC
        %span.blue> 0
        PE

      .nav-movie-title Métropolis
      .navbar-tabs
        %a.nav-home{ class: "active", href: ".container-home", onclick: "calliOSFunction('goHome', [])"}
        / %a.nav-notif{href: ".container-timeline", onclick: "calliOSFunction('goTimeline', [])"}
        / %span.unread-counter 0
        %a.nav-social{href: ".container-social", onclick: "calliOSFunction('goSocial', [])"}
        %a.nav-doc{href: ".container-doc", onclick: "calliOSFunction('goDoc', [])"}
        %a.nav-profile
          .profile-name
          .image

    .profile-nav
      %a.nav-movie{ href: ".container-movie" } Mon film
      %a.nav-roadmap{ href: ".container-roadmap" } Mon parcours
      %a.nav-settings{ href: ".container-settings" } Réglages 


    %script{src: "js/raphael.js"}
    