!!!5
%html
  %head
    %meta{charset: "utf-8"}/
    %link{href: "css/main.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/timeline.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/social.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/map.css", media: "screen", rel: "stylesheet"}/
    %link{href: "css/retina.css", media: "screen", rel: "stylesheet"}/
    %script{src: "js/iosBridge.js"}
    %script{src: "js/jquery.js"}
    %script{src: "js/preloadjs.js"}
    %script{src: "js/iscroll.js"}
    %script{src: "js/hammer.min.js"}
    %script{src: "js/jquery.gsap.min.js"}
    %script{src: "js/TweenLite.min.js"}
    %script{src: "js/fastclick.js"}
    %script{src: "js/ui.js"}
    %script{src: "js/doc.js"}
    %script{src: "js/social.js"}
    %script{src: "js/map.js"}
    %script{src: "js/controls.js"}
    %script{src: "js/timeline-slider.js"}
    %script{src: "js/gallery.js"}
    :javascript

      var ROOT_API_URL = 'http://www.scope.dev';
      var FAST_FORWARD = false;
      var FAST_REWIND  = false;
      var NOTICES = [];
      var USER_FACEBOOK_ID = null;
      var CURRENT_VIEWED_NOTICE = null;

      var LAST_NOTICE_TIMECODE = -9999;

      var oldTimecode = 0;
      var currentTimecode = 0;

      var onPlay = function () {
        isPaused = false;
        beginTimelineScrolling();
        $('.play').hide(0);
        $('.pause').show(0);
      };

      var onPause = function () {
        isPaused = true;
        stopTimelineScrolling();
        $('.play').show(0);
        $('.pause').hide(0);
      };

      var setMovieInfo = function (id, title, author) {
        MOVIE_ID = id;
        $('.nav-movie-title').text(title);

        getAllNotices(id);
      };

      // move the progress bar using timecode
      var setTimecode = function (seconds) {

        if (seconds - oldTimecode > 20 || oldTimecode - seconds > 20) { // jump ?
          $('.timeline-body').css('left', timelineOffsetWithTimecode(seconds)+'%');
        }

        oldTimecode = currentTimecode;
        currentTimecode = seconds;

        // $('.timeline-body, .cursor').css('left', timelineOffsetWithTimecode(seconds)+'%');
      }

      var onNewNotice = function (timecode, endTimecode, id, title, short_content, category, color, categoryTitle) {

        console.log('Last timecode : '+LAST_NOTICE_TIMECODE+', current : '+timecode);

        

        if (Number(timecode) - LAST_NOTICE_TIMECODE < 60 ) {
          addNoticeOnMap(timecode, id, category, title, short_content, true);
          return;
        }

        addNoticeOnMap(timecode, id, category, title, short_content, false);

        LAST_NOTICE_TIMECODE = Number(timecode);
        CURRENT_VIEWED_NOTICE = id;

        $('.timeline-last-notice .title').text(title);
        $('.timeline-last-notice .content').text(short_content);
        $('.timeline-last-notice').attr('data-notice-id', id);
        $('.timeline-cat-icon').show(0);
        $('.timeline-cat-icon img').attr('src', 'images/cat-'+category+'@2x.png');
        $('.container-home').css('background', 'url(images/samples/notices/'+id+'_big.jpg) no-repeat');
        $('.view-grid-container .timeline-last-notice').css('background', 'url(images/samples/notices/'+id+'_big.jpg) no-repeat');
        addNoticeOnTimeline(timecode, endTimecode, id, category, title, categoryTitle);


        if ($('.container-home').is(':hidden')) {
          $('.nav-home').addClass('unread');
        }


        NOTICES[id] = { title: title, short_content: short_content, category: category, color: color, timecode: timecode };
      }

      var onNewComment = function (facebook_id, comment, author, timecode) {
        addNoticeOnMap(timecode, null, 'comment', author);
        $('.timeline-last-notice .title').text(author);
        $('.timeline-last-notice .content').text('"'+comment+'"');
        $('.timeline-cat-icon img').attr('src', 'http://graph.facebook.com/'+facebook_id+'/picture?type=normal');
        addNoticeOnTimeline(timecode, Number(timecode)+20, null, 'comment', author);
      }

      var setUserInfo = function (id, name, imageUrl) {
        $('.profile-name').text(name);
        $('.navbar-tabs .nav-profile .image').css('background-image', 'url('+imageUrl+')');
        $('.container-social-notlogged').remove();
        $('.container-social .profile-image').attr('src', 'http://graph.facebook.com/'+id+'/picture?type=normal');
        IS_LOGGED_IN = true;
        USER_FACEBOOK_ID = id;
      }

      $(function() {
          FastClick.attach(document.body);

          addNoticeOnTimeline(0, 0, 0, 'scope', '');
      });

      
  %body

    .navbar-doc
      .doc-breadcrumb
        .item.item-1 Documentation
        .item.item-2 Thèmes clés
        .item.item-3 Déshumanisation

      .doc-search
        %input#doc-search-input{ placeholder: "Recherche rapide" }

    / HOME SCREEN
    .container.container-home

      .socials
        .facebook{ onclick: 'calliOSFunction("shareNotice", ["facebook", CURRENT_VIEWED_NOTICE])'}
        .twitter{ onclick: 'calliOSFunction("shareNotice", ["twitter", CURRENT_VIEWED_NOTICE])'}


      .view-nav
        .view-line.active
        .view-grid

      .view-line-container
        .timeline-header
          
        / .chapter-slider
        /   .last-chapter.chapter
        /     %h4.chapter-title.with-font La découverte
        /     %p.chapter-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull
        .video-controls
          / %button#prev-chapter
          / %button#rewind
          %button.play
          %button.pause
          / %button#forward
          / %button#next-chapter

        .timeline-last-notice

          .timeline-cat-icon
            %img{ src: 'images/cat-scope@2x.png' }
          %h3.title.with-font Bienvenue
          %p.content Ici s'afficheront les différentes notifications liées au film
          .display-notice-btn
            en savoir +
          .replay-btn

        .timeline

          .timeline-body-container#timeline-body-container
            / .cursor
            .timeline-body#timeline-body
              / .timeline-notice-title Test test
          
          .timeline-current-time

      .view-grid-container
        
          
        .video-controls
          / %button#prev-chapter
          / %button#rewind
          %button.play
          %button.pause
          / %button#forward
          / %button#next-chapter
          

        .timeline-last-notice

          .timeline-cat-icon
            %img{ src: 'images/cat-scope@2x.png' }
          %h3.title.with-font Bienvenue
          %p.content Ici s'afficheront les différentes notifications liées au film
          .display-notice-btn
            en savoir +
          .replay-btn



        .timeline
          .mask
          .timeline-body-container#timeline-body-container
            / .cursor
            .grid-timeline#grid-timeline
              / .timeline-notice-block.timeline-notice-block-themes
              /   %img.icon{ src: 'images/cat-themes.png' }
              /   .title L'enfer  
              / .timeline-notice-block
              /   %img.icon{ src: 'images/cat-anecdotes.png' }
              /   .title L'enfer
              /   .timeline-notice-time 00:56:00

          .timeline-slider
            .scroller#timeline-scroller
          .timeline-current-time


    / / TIMELINE SCREEN
    / .container.container-timeline
    /   .timeline-head
      

    / SOCIAL SCREEN
    .container.container-social
      .step.step-1
        .social-head
          .step-nb
            %span.blue>1
            \/3
          .title.with-font QUEL INTERVALLE ?
          %p Champ d'application de votre message
        .interval-chooser-mask
        .interval-chooser
          .reset
          .line
          .cursor#social-interval-cursor
            .begin-time 00:51:00
            .end-time 00:51:00

        %button.button-link.next{ ontouchstart: 'socialNextStep()' } Valider
      .step.step-2
        .social-head
          .step-nb
            %span.blue>2
            \/3
          .title.with-font VOTRE MESSAGE...
          %p 140 caractères maximum
        %img.profile-image
        .social-form
          %textarea#message{ placeholder: '' }
            
        .go-back
        %button.button-link.next{ ontouchstart: 'socialNextStep()' }  Valider
      .step.step-3
        .social-head
          .step-nb
            %span.blue>3
            \/3
          .title.with-font PUBLIER SUR...

          .publication-select
            .item.item-scope.checked Scope
            .item.item-fb Facebook
            .item.item-twitter Twitter

        .go-back
        .social-form
         
            
        %button.button-link.send Poster

    .container.container-social.container-social-notlogged
      .info Connectez-vous à l'aide de votre compte Facebook pour pouvoir partager votre expérience avec les gens autour de vous.

        

    / DOC SCREEN
    .container.container-doc
      .doc-head
        / %h2.home-movie-title.with-font.doc-movie-title Métropolis
        / %h3 Documentation
      .doc-main.doc-home
        .doc-search

        .doc-block.doc-movie-info
          .doc-block-title Fiche du film
          .doc-block-info Tout sur le film
        .doc-block.doc-themes{ data: { 'category-id' => 2, 'category' => 'themes' } }
          .doc-block-title Themes clés
          .doc-block-info Les grands thèmes abordés
        .doc-block.doc-analyse{ data: { 'category-id' => 4, 'category' => 'analyses'  } }
          .doc-block-title Analyses
          .doc-block-info Analyse des scènes
        .doc-block.doc-social
          .doc-block-title Communauté
          .doc-block-info Les membres de Scope parlent du film
        .doc-block.doc-anecdotes{ data: { 'category-id' => 5, 'category' => 'anecdotes'  } }
          .doc-block-title Anecdotes
          .doc-block-info Les anecdotes de réalisation
        .doc-block.doc-impact{ data: { 'category-id' => 1, 'category' => 'impact'  } }
          .doc-block-title
            Impact
            %br
            sur la culture
          .doc-block-info.doc-block-info-last Le film a inspiré la culture populaire

      .doc-theme-deshumanisation
        .notices
          .deshu-notice.deshu-notice-1{ 'data-theme-id' => 12, 'data-n' => 1 } 00:04:00
          .deshu-notice.deshu-notice-2{ 'data-theme-id' => 12, 'data-n' => 2 } 00:06:41
          .deshu-notice.deshu-notice-3{ 'data-theme-id' => 12, 'data-n' => 3 } 00:13:25
          .deshu-notice.deshu-notice-4{ 'data-theme-id' => 12, 'data-n' => 4 } 00:32:01
          .deshu-notice.deshu-notice-5{ 'data-theme-id' => 12, 'data-n' => 5 } 00:40:17
          .deshu-notice.deshu-notice-6{ 'data-theme-id' => 12, 'data-n' => 6 } 00:50:34
          .deshu-notice.deshu-notice-7{ 'data-theme-id' => 12, 'data-n' => 7 } 02:10:28

      / .doc-category
      /   .slider
      /     .slide-counter
      /       %span.current> 1
      /       \/
      /       %span.total 
      /     .cat-icon
      /     .title Déshumanisation
      /     .short-content L’usine elle-même, telle Chronos dévorant ses enfants, se nourrit de chair humaine. Lorsqu’ils ne périssent pas physiquement, les ouvriers sont tout simplement anéantis dans leur âme et leur singularité. 
        

    / ROADMAP SCREEN

    .container.container-map
      .close
      .socials
        .facebook{ onclick: 'calliOSFunction("shareNotice", ["facebook", CURRENT_VIEWED_NOTICE])'}
        .twitter{ onclick: 'calliOSFunction("shareNotice", ["twitter", CURRENT_VIEWED_NOTICE])'}
      / .map-notice-detail
      /   .cat-icon
      /     %img{ src: 'images/cat-themes.png' }
      /   .title.with-font Test
      /   .content Ceci est un test
      .map-detail-bottom
        
      .map-navbar
        .select-view
          .view-missed à voir
          .view-seen.selected vues
          .view-all toutes
      .map-bg
      .map-main#map-main
        / .map-col
        /   .map-col-wrapper
        /     .map-notice
        /       %img.icon{ src: 'images/cat-themes.png' }
        /       .title Déshumanisation
        /     .map-notice
        /       %img.icon{ src: 'images/cat-analyses.png' }
        /       .title L'enfer
        / .map-col
        /   .map-col-wrapper
        /     .map-notice
        /       %img.icon{ src: 'images/cat-anecdotes.png' }
        /       .title Réalisateur acharné
        /     .map-notice
        /       %img.icon{ src: 'images/cat-themes.png' }
        /       .title Thème du double
        /     .map-notice
        /       %img.icon{ src: 'images/cat-analyses.png' }
        /       .title L'enfer
        /     .map-notice
        /       %img.icon{ src: 'images/cat-analyses.png' }
        /       .title L'enfer
        / .map-col
        /   .map-col-wrapper
        /     .map-notice
        /       %img.icon{ src: 'images/cat-comment.png' }
        /       .title Léo Hetsch
        /     .map-notice
        /       %img.icon{ src: 'images/cat-themes.png' }
        /       .title Thème du doublest
      .map-timeline#map-timeline
        / .map-timeline-time.map 0:05:00
        / .map-timeline-time.map 0:05:00

    .additional-content
      .notice-1
        .content
          %img.image.slider-click{ src: 'images/samples/doc/add-sample-1.jpg' }
          .right
            .title Saturne dévorant ses enfants
            .more
            .less
            %p Saturne dévorant un de ses fils, également appelée Saturne dévorant son enfant ou simplement Saturne, est une des Peintures noires de Francisco de Goya, peinte entre 1819 et 1823 directement sur les murs de sa maison appelée la Quinta del Sordo (« Maison de campagne du Sourd ») dans les environs de Madrid. La peinture a été transférée sur une sur une toile après la mort de Goya et est depuis exposée au Musée du Prado à Madrid.

            %p Goya représente Saturne en train de se repaitre de l'un de ses fils, dont la tête, une partie du bras gauche et le bras droit ont déjà été consommés. Le bras droit a probablement été également mangé, mais il pourrait aussi être plié le long du corps de l'enfant et ainsi être caché à la vue du spectateur. 

            %p L'image de Saturne se dessine dans l'obscurité, la bouche grande ouverte avec les yeux exorbités et d'une grande blancheur. La seule autre source de luminosité dans ce tableau provient de la chair blanche, du sang rouge du cadavre et les articulations blanchâtres de Saturne notamment ses doigts qu'il enfonce dans le dos du cadavre. 

            %p Il semble établi qu'à l'origine Saturne avait été représenté avec un pénis partiellement en érection, mais, si ce fut le cas, cet ajout a été perdu en raison soit de la détérioration de la fresque au fil du temps, soit lors du transfert de la peinture sur toile ou bien encore qu'intentionnellement cette partie de la toile ait été repeinte avant que le tableau puisse être exposé. En tout état de cause, il apparaît clairement que la région autour de l'aine est floue et sombre.

            %p Le tableau apparaît brièvement dans les films King Lear de Jean-Luc Godard et La Reine des damnés de Michael Rymer. Le cinéaste Pierre Falardeau le cite dans Elvis Graton II. Le tableau apparaît également dans plusieurs plans de l'épisode 22 de la série d'animation japonaise "Fushigi no Umi no Nadia" (Nadia et Le Secret de L'Eau Bleue en version française).
        .content
          %img.image{ src: 'images/samples/doc/add-sample-2.jpg' }
          .right
            .title Chronos
            .more
            .less
            %p Dans la mythologie grecque, Chronos (en grec ancien Χρόνος / Khrónos) est un dieu primordial personnifiant le Temps et la Destinée. Il apparaît essentiellement dans les traditions orphiques, et est confondu[réf. nécessaire] avec Cronos, le roi des Titans et des Perses, dans les traditions tardives.
            
            %p C'est un être immatériel apparu à la création du monde. Il est représenté sous les traits d'un serpent à trois têtes (une d'homme, une de lion et une de taureau) enlacé avec son épouse Ananké (déesse de la Nécessité, de la Fatalité) autour du monde-œuf. Ils sont censés entraîner le monde céleste dans sa rotation éternelle. Selon la cosmogonie orphique, ils seraient les géniteurs de Chaos et Éther.
            
            %p Dans la culture contemporaine, il est surtout connu pour être représenté sous les traits d'un vieil homme sage avec une longue barbe grise. En anglais, il est souvent surnommé sous cette forme Father Time (« Père Temps »).
        .content
          %img.image{ src: 'images/samples/doc/add-sample-3.jpg' }
          .right
            .title Travail à la chaîne
            .more
            .less
            %p Le travail à la chaîne vise la productivité du travail ( produire « plus » en « moins de temps »). L'emploi du « mouvement continu » pour l'alimentation en eau, la manipulation de terre ou de minerais est attestée par l'emploi à l'époque assyrienne ou grecque d'appareils élévateurs utilisant des chaines à godets ou de procédés de convoyage à bandes mis en œuvre dans le cadre de l'exploitation minière , les opérations de terrassement ou de construction...
            
            %p Au XVI° siècle , Léonard de Vinci franchit l'étape suivante et propose une évolution dans la conception de la position de l'opérateur face à son travail: Ses ébauches de métier à tisser positionnent le travailleur de manière immobile face à sa machine et reproduisant mécaniquement des gestes sans intervention de l'esprit 3.
            
            %p Reposant initialement sur l'introduction des méthodes scientifiques d'organisation du travail ( l'OST), le concept hérite par la suite des possibilités ouvertes par l'automation.
        .content
          %img.image{ src: 'images/samples/doc/add-sample-4.jpg' }
          .right
            .title Chronos
            .more
            .less
            %p Les Temps modernes (Modern Times) est une comédie dramatique américaine de Charlie Chaplin, sortie en 1936. Il s'agit du dernier film muet de son auteur et le dernier qui présente le personnage de Charlot, lequel lutte pour survivre dans le monde industrialisé. Le film est une satire du travail à la chaîne et un réquisitoire contre le chômage et des conditions .... 
            
            %p C'est un être immatériel apparu à la création du monde. Il est représenté sous les traits d'un serpent à trois têtes (une d'homme, une de lion et une de taureau) enlacé avec son épouse Ananké (déesse de la Nécessité, de la Fatalité) autour du monde-œuf. Ils sont censés entraîner le monde céleste dans sa rotation éternelle. Selon la cosmogonie orphique, ils seraient les géniteurs de Chaos et Éther.
            
            %p Dans la culture contemporaine, il est surtout connu pour être représenté sous les traits d'un vieil homme sage avec une longue barbe grise. En anglais, il est souvent surnommé sous cette forme Father Time (« Père Temps »).

      .notice-2
        .content
          .image.esprit
          .right
            .title L'esprit de notre temps - Raoul Hausmann
            .more
            .less
            %p Esprit des temps modernes, la tête mécanique de Raoul Hausmann est une sculpture-assemblage dans l'esprit Dada. Elle est faite de divers objets ou morceaux utilisés tels quels. La tête de bois est une marotte, tête produite en série, anonyme et sans expression. Le terme technique marotte désigne une tête de mannequin de vitrine présentant des coiffures ou des chapeaux.

            %p "Je pris alors une belle tête en bois, je la polis longuement avec du papier de verre. Je la couronnai d'une timbale pliable. Je lui fixai un beau porte-monnaie derrière. Je pris un petit écrin à bijoux et le plaçai à la place de l'oreille droite. J'ajoutai encore un cylindre topographique à l'intérieur et un tuyau de pipe au côté gauche. Eh oui, j'avais envie de changer de matériel. Je fixai sur une régle en bois une pièce de bronze enlevée à un vieil appareil photographique suranné et je le regardai. Ah il me fallait encore ce petit carton blanc portant le chiffre 22, car, évidemment, l'esprit de notre temps n'avait qu'une signification numérique."

            %p Pendant la guerre de 14-18, les soldats allemands utilisaient un gobelet métallique télescopique semblable. Un coeur est gravé sur le gobelet, seule touche d'humanité de la sculpture. Un ruban de couturière de 10 cm est collé sur le front. Le porte-feuille en peau de crocodile est déplié, on y lit le nom et l’adresse du fabriquant « …wein Berlin Budapest… ». 

            %p L'oreille droite de la tête mécanique est bouchée par une règle de bois de 20 cm et une réglette de métal crantée avec deux molettes de réglage. Deux clous sont plantés de chaque côté du crâne. La tête blessée, réparée pourrait être celle d'une gueule cassée de la Grande Guerre.
        .content
          %img.image{ src: 'images/samples/doc/add-sample-6.jpg' }
          .right
            .title Frederick Winslow Taylor
            .more
            .less
            %p Frederick Winslow Taylor (20 mars 1856, Germantown (Pennsylvanie) - 21 mars 1915, Philadelphie (Pennsylvanie)) est un ingénieur américain, promoteur le plus connu de l'organisation scientifique du travail. Celle-ci a trouvé un domaine d'application naturel dans le cadre de la révolution industrielle du xxe siècle.
        .content
          %img.image{ src: 'images/samples/doc/add-sample-7.jpg' }
          .right
            .title 2001 L'odyssée de l'espace : Stanley Kubrick
            .more
            .less
            %p 2001, l'Odyssée de l'espaceN 1 (2001: A Space Odyssey) est un film anglo-américain de science-fiction produit et réalisé par Stanley Kubrick, sorti en 1968. Le scénario est écrit par Kubrick et Arthur C. Clarke, et est partiellement inspiré d'une nouvelle de Clarke intitulée La Sentinelle. Clarke rédige parallèlement au tournage le roman 2001....
        .content
          %img.image{ src: 'images/samples/doc/add-sample-8.jpg' }
          .right
            .title Tatline chez lui : Raoul Haussmann
            .more
            .less
            %p Curabitur ut erat ut nisi laoreet ultrices. Aliquam nec ligula lobortis, vehicula ligula a, porta eros. Duis et justo sapien. Nunc nisl urna, consequat non porttitor sit amet, pulvinar nec diam. Sed fringilla rhoncus purus et ultrices. Proin cursus augue id enim imperdiet malesuada. Curabitur nunc turpis, tempus ut hendrerit in, convallis vitae tortor. 

      .slider
        .prev.disabled
        .next

        .item.active{ 'data-n' => 1}
        .item{ 'data-n' => 2}
        .item{ 'data-n' => 3}
        .item{ 'data-n' => 4}
        .item{ 'data-n' => 5}
        .item{ 'data-n' => 6}
        .item{ 'data-n' => 7}


    .doc-image-slider
      .close
      .prev
      .next
      %img.image{ src: 'images/samples/doc/slider-image-1.jpg' }
      .legend
        .title Saturne dévorant l'un de ces enfants
        .author Rubens
        .year 1636

    %nav.navbar
      .navbar-title.with-font{ onclick: 'calliOSFunction("quit", [])'}
        SC
        %span.blue> 0
        PE

      .nav-movie-title Métropolis
      .navbar-tabs
        %a.nav-home{ class: "active", href: ".container-home", onclick: "calliOSFunction('goHome', [])"}
        / %a.nav-notif{href: ".container-timeline", onclick: "calliOSFunction('goTimeline', [])"}
        / %span.unread-counter 0
        %a.nav-social{href: ".container-social", onclick: "calliOSFunction('goSocial', [])"}
        %a.nav-doc{href: ".container-doc", onclick: "calliOSFunction('goDoc', [])"}
        %a.nav-profile
          .profile-name
          .image

    .profile-nav
      %a.nav-movie{ href: ".container-movie" } Mon film
      %a.nav-roadmap{ href: ".container-roadmap" } Mon parcours
      %a.nav-settings{ href: ".container-settings" } Réglages 


    %script{src: "js/raphael.js"}
    