@font-face {
    font-family: 'TwoFaced';
    src: url('../fonts/twofaced-webfont.eot');
    src: url('../fonts/twofaced-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/twofaced-webfont.woff') format('woff'),
         url('../fonts/twofaced-webfont.ttf') format('truetype'),
         url('../fonts/twofaced-webfont.svg#twofaced_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_lt-webfont.woff') format('woff'),
         url('../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sanchez';
    src: url('../fonts/sanchezregular-ita-webfont.eot');
    src: url('../fonts/sanchezregular-ita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sanchezregular-ita-webfont.woff') format('woff'),
         url('../fonts/sanchezregular-ita-webfont.ttf') format('truetype'),
         url('../fonts/sanchezregular-ita-webfont.svg#sanchez_regular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
	background-color: #071528;
	width: 100%;
	overflow: hidden;
	padding: 0; margin: 0;
	font-family: 'Aller', sans-serif;
}


.container-home {
	background: url(../images/samples/notices/1_big.jpg) no-repeat center top;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	height: 768px;
}


.view-grid-container { display: none; }

.with-font {
	font-family: 'TwoFaced', sans-serif;
}

.blue {
	color: #04e5e8;
}

.view-nav {
	position: absolute; right: 20px; top: 15px;
	z-index: 200;
}

.view-nav div {
	cursor: pointer; width: 32px; height: 28px;
	background-repeat: no-repeat;
	float: right;
	opacity: 0.5;
}

.view-nav .view-line { background-image: url(../images/view-line.png); }
.view-nav .view-grid { background-image: url(../images/view-grid.png); }
.view-nav .active { opacity: 1; }

.navbar {
	position: fixed; left: 0; bottom: 0;
	width: 100%; height: 50px;
	border-top: 1px solid #0e565f;
	color: white;
	background: #030d18;
	z-index: 250;
}

.doc-movie-title {
	color: white;
	font-size: 30px;
	text-transform: uppercase;
}

.navbar-title {
	font-size: 30px;
	width: 110px;
	padding: 5px 0 0 20px;
	float: left;
}

.nav-movie-title {
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	width: 100px; height: 25px;
	margin-top: 25px;
	text-align: center;
	color: #a4a6a8;
}

.navbar-tabs a {
	background-repeat: no-repeat; background-position: center 5px;
}

.nav-home { background-image: url(../images/nav-home.png);}
.nav-notif { background-image: url(../images/nav-notif.png);}
.nav-social { background-image: url(../images/nav-social.png);}
.nav-doc { background-image: url(../images/nav-doc.png); border-right: 1px solid #233849;}

.navbar-tabs a.nav-profile {
	width: 200px;  
	position: absolute; 
	right: 0px; 
	border-left: 0px;
	padding-top: 18px;
	font-size: 13px;

	background: url(../images/profile-arrow.png) no-repeat 136px 22px;
}

.nav-profile .image {
	background-image: url(../images/nav-profile.png);
	background-position: center;
	background-size: 43px 43px;
	border-radius: 30px;
	width: 43px; height: 43px;
	position: absolute; right: 5px; top: 5px;
}

.navbar-tabs a:first-child { margin-left: 17%; }

.navbar-tabs a {
	border-left: 1px solid #233849;
	height: 50px;
	width: 75px;
	padding-top: 10px;
	text-align: center;
	display: block;
	float: left;
}

.nav-home.active { background: url(../images/nav-home.png) no-repeat center 5px, url(../images/nav-item-active.png) repeat-x left 45px, #1d1d1d; }
.nav-social.active { background: url(../images/nav-social.png) no-repeat center 5px, url(../images/nav-item-active.png) repeat-x left 45px, #1d1d1d; }
.nav-doc.active { background: url(../images/nav-doc.png) no-repeat center 5px, url(../images/nav-item-active.png) repeat-x left 45px, #1d1d1d; }

.profile-nav {
	position: absolute; right: 0; bottom: -100px;
	z-index: 245;
	padding: 5px;
	background: #f8f8f8;
	width: 200px;
	height: 120px;
}

.profile-nav a {
	display: block;
	padding: 12px 15px 12px 50px;
	border-bottom: 1px solid #aaa;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.profile-nav a:hover { color: #00ecea; }

.profile-nav a.nav-movie { background: url('../images/nav-mymovie.png') no-repeat 5px center; }
.profile-nav a.nav-roadmap { background: url('../images/nav-roadmap.png') no-repeat 5px center; }
.profile-nav a.nav-settings { background: url('../images/nav-settings.png') no-repeat 5px center; border-bottom: 0px; }

.video-controls {
	width: 100%;
	height: 50px;
	position: absolute; bottom: 50px;
	background: #13161a;
	text-align: center;
	background-image: url(../images/video-controls-bg.png);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: center;
}

.video-controls button { width: 50px; height: 50px; background-repeat: no-repeat; border: none; background-color: transparent; }

.video-controls .play { position: absolute; z-index: 210; bottom: 85px; right: 30px; width: 80px; height: 80px;  margin-top: 25px; background-image: url(../images/play.png); }
.video-controls .pause { position: absolute; z-index: 211; bottom: 85px; right: 30px; display: none; width: 80px; height: 80px; margin-top: 25px; background-image: url(../images/pause.png); }
.video-controls #prev-chapter { position: absolute; top: 60px; left: 200px;  background-image: url(../images/prev-chapter.png); }
.video-controls #rewind { position: absolute; top: 60px; left: 360px; background-image: url(../images/rewind.png); }
.video-controls #forward { position: absolute; top: 60px; right: 360px; background-image: url(../images/forward.png); }
.video-controls #next-chapter { position: absolute; top: 60px; right: 200px; background-image: url(../images/next-chapter.png); }

.video-controls .progressbar { width: auto; height: 5px; background: #242424; }
.video-controls .progressbar-progress { width: 0px; height: 5px; background: #04e5e8; }

.home-header {
	padding: 8px 0 0 30px;
}

.chapter {
	padding: 10px;
	background-color: white;
	width: 60%;
	margin: auto;
	text-align: center;
}

.chapter .chapter-title {
	font-size: 24px;
	text-transform: uppercase;
}


/**** DOC CONTENT *****/

.additional-content {
	position: absolute; bottom: -1000px;
	width: 100%; 
	overflow: auto;
	background: #fff;
	z-index: 230;
}

.additional-content .notice-2 { display: none; }

.additional-content .content {
	height: 162px;
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #e1e1e1;
	padding: 0;
}

.additional-content .right .title {
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Aller', sans-serif;
	font-size: 15px;	
	padding-top: 30px;
}

.additional-content .image {
	float: left;
	width: 411px;
}

.additional-content .right {
	float: right;
	padding: 0 10px 0 10px;
	width: 570px;
	height: 162px;
	position: relative;
}

.additional-content .more, .additional-content .less {
	position: absolute; top: 40%; right: 30px;
	cursor: pointer;
	width: 38px; height: 38px; 
	background: url(../images/notice-more-content.png) no-repeat;
}

.additional-content .less {
	display: none;
	background: url(../images/less-btn.png) no-repeat;
}

.additional-content .right p {
	font-size: 12.5px;
	width: 460px;
}

.additional-content .slider {
	width: 100%; height: 36px;
	background-color: #101316;
	background-image: url(../images/doc-additional-slider-bg.png);
	background-repeat: no-repeat;
	background-position: center center; position: relative;
	text-align: center;
	padding-top: 0px;
}

.additional-content .slider .next { position: absolute; right: 30px; bottom: 0px; width: 30px; height: 30px; background: url(../images/doc-slider-right.png); background-size: 30px 30px; }
.additional-content .slider .prev { position: absolute; left: 30px; bottom: 0px; width: 30px; height: 30px; background: url(../images/doc-slider-left.png); background-size: 30px 30px; }
.additional-content .slider div.disabled { opacity: 0.3; }
.additional-content .slider .item { 
	display: inline-block;
	background: url(../images/slider-item.png) no-repeat center bottom;
	width: 25px; height: 25px;
	margin-right: 40px;
}

.additional-content .slider .item.active {
	width: 18px; height: 18px;
	position: relative; top: 2px;
	background: url(../images/slider-item-active.png) no-repeat center bottom;
}

/******* DOC *********/

.container-doc { height: 750px; background: #0a0a0a url(../images/doc-bg.png); display: none; }
.navbar-doc {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 34px;
	padding: 0px 0 10px 0;
	background: #161e26;
	border-bottom: 1px solid #04e5e8;
	display: none; z-index: 250;
}

.doc-breadcrumb { padding-left: 20px; }
.doc-breadcrumb div { padding: 14px 7px; }
.doc-breadcrumb .item { background: url(../images/doc-breadcrumb-item.png) no-repeat left center; float: left; width: 130px; padding-left: 24px; color: white; font-size: 13px; text-transform: uppercase;}
.doc-breadcrumb .item-2 { display: none; }
.doc-breadcrumb .item-3 { display: none; width: 200px;}

.doc-search { position: absolute; right: 25px; top: 8px; width: 180px;}
.doc-search input { border: 1px solid #969696; background: none; padding: 4px; width: 100%;}

.doc-main {
	position: relative; 
	-webkit-transform: rotateY(0deg);
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.4s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	perspective: 1000;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.navbar-doc .title { color: white; text-transform: uppercase; position: relative; top: 12px; left: 15px;}

.doc-head {
	width: 100%; height: 140px; text-align: center; margin-top: 45px;
	background: url(../images/doc-title.png) no-repeat center center;
}

.doc-head.doc-head-themes { background: url(../images/doc-title-themes.png) no-repeat center center; }
.doc-head.doc-head-analyses { background: url(../images/doc-title-analyses.png) no-repeat center center; }
.doc-head.doc-head-anecdotes { background: url(../images/doc-title-anecdotes.png) no-repeat center center; }
.doc-head.doc-head-impact { background: url(../images/doc-title-impact.png) no-repeat center center; }

.doc-head .doc-movie-title { font-size: 38px; margin-bottom: 0px; }
.doc-head h3 { color: white; text-transform: uppercase; font-weight: normal;}

.doc-home {
	width: 790px; margin: 30px auto 0 auto;

}

.doc-main.flipping { -webkit-transform: rotateY(90deg); }
/*.doc-main.unflipping { -webkit-transform: rotateY(-90deg); }*/

.doc-block {
	width: 180px; height: 180px;
	float: left;
	display: block;
	margin-left: 60px;
	margin-bottom: 40px;
	background: url(../images/doc-block.png) no-repeat center center; 
	background-size: 170px 170px;
}

.doc-block.doc-movie-info { background: url(../images/samples/doc/block-movie.png) no-repeat center center; background-size: 170px 170px; }
.doc-block.doc-themes{ background: url(../images/samples/doc/block-themes.png) no-repeat center center; background-size: 170px 170px;}
.doc-block.doc-analyse{ background: url(../images/samples/doc/block-analyse.png) no-repeat center center; background-size: 170px 170px;}
.doc-block.doc-impact{ background: url(../images/samples/doc/block-impact.png) no-repeat center center; background-size: 170px 170px;}
.doc-block.doc-anecdotes{ background: url(../images/samples/doc/block-anecdotes.png) no-repeat center center; background-size: 170px 170px;}
.doc-block.doc-social{ background: url(../images/samples/doc/block-social.png) no-repeat center center; background-size: 170px 170px;}

.doc-block-title {
	text-transform: uppercase; color: white;
	font-size: 11px;
	margin: 115px auto 0 auto;
	width: 130px;
	text-align: center;
	display: block;
	line-height: 16px;
}

.doc-block-info {
	color: white; font-size: 10px;
	text-align: center; margin-top: 55px;
}
.doc-block-info-last {
	margin-top: 40px;
}

.doc-block-count {
	text-transform: uppercase; color: white;
	font-size: 10px;
	margin: 5px auto 0 auto;
	color: white;
	text-align: center;
	display: block;
}

.doc-block-title-sub {
	color: #fcb200;
	margin-top: 87px;
	text-shadow: 2px 2px #212830;
}

.doc-category {
	background:  url('../images/samples/notices/machine.jpg') no-repeat center center;
	position: absolute; top: -400px;
	z-index: 10;
	width: 100%;
}

.doc-category .slider {
	height: 350px; width: 100%;
	position: relative;
	text-align: center;
	padding-top: 50px;
	
}

.doc-category .slider .slide-counter {
	position: absolute; right: 40px; top: 60px;
	color: white;
	font-size: 22px;
}

.doc-category .slider .cat-icon {
	width: 500px; text-align: center; margin: 40px auto 0 auto;
}

.doc-category .slider .title { margin: 20px auto 20px auto; width: 500px; font-size: 28px; text-transform: uppercase;  color: white; }
.doc-category .slider .short-content {display: none; font-size: 18px; line-height: 26px; width: 60%; margin: 15px auto; color: white;}
.doc-category .slider .short-content-1 {display: block; }

.doc-image-slider {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0; z-index: 240;
	background: url(../images/doc-image-slider.png) no-repeat center center;
	display: none;
}

.doc-image-slider .close { background: url(../images/close.png) no-repeat; position: absolute; width: 33px; height: 33px; right: 25px; top: 70px; } 
.doc-image-slider .next { position: absolute; right: 100px; top: 350px; width: 30px; height: 30px; background: url(../images/doc-slider-right.png); background-size: 30px 30px; }
.doc-image-slider .prev { position: absolute; left: 100px; top: 350px; width: 30px; height: 30px; background: url(../images/doc-slider-left.png); background-size: 30px 30px; }
.doc-image-slider .legend { position: absolute; bottom: 80px; width: 100%; color: white; text-align: center; font-size: 11px; font-family: 'Aller', sans-serif; }
.doc-image-slider .legend .title { font-size: 12px; font-style: italic; }
.doc-image-slider .image { display: block; max-width: 450px; max-height: 550px; margin: 60px auto;}

.socials {
	position: absolute;
	top: 430px;
	z-index: 25;
	right: 35px;
}

.socials div { width: 30px; height: 30px; float: left; margin-right: 8px; }

.socials .twitter { background: url(../images/share-twitter.png) no-repeat; }
.socials .facebook { background: url(../images/share-facebook.png) no-repeat; }

.zoom {
	position: absolute; top: 0; left: 0; z-index: 500;
	width: 100%; height: 100%; background-size: cover; background-position: center;
	display: none;
}