@font-face {
    font-family: 'TwoFaced';
    src: url('../fonts/twofaced-webfont.eot');
    src: url('../fonts/twofaced-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/twofaced-webfont.woff') format('woff'),
         url('../fonts/twofaced-webfont.ttf') format('truetype'),
         url('../fonts/twofaced-webfont.svg#twofaced_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	-webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

body, html {
	background-color: #19222b;
	width: 100%;
	overflow: hidden;
	padding: 0; margin: 0;
}

.with-font {
	font-family: 'TwoFaced', sans-serif;
}

.blue {
	color: #04e5e8;
}

.navbar {
	position: absolute; left: 0; bottom: 0;
	width: 100%; height: 60px;
	border-top: 2px solid white;
	color: white;
	background: #171e26;
}

.navbar-title {
	font-size: 22px;
	width: 30%;
	text-align: center;
	padding-top: 14px;
	float: left;
}

.navbar-tabs {
	
}

.navbar-tabs a {
	border-left: 2px solid white;
	height: 60px;
	width: 8%;
	padding-top: 14px;
	text-align: center;
	display: block;
	float: left;
}

.video-controls {
	width: 100%;
	height: 170px;
	position: absolute; bottom: 60px;
	background: #1c2632;
	text-align: center;
	background-image: url(../images/video-controls-layout.png);
	background-repeat: repeat-x;
	background-position: left center;
}

.video-controls button { width: 50px; height: 50px; background-repeat: no-repeat; border: none; background-color: #1c2632; }

.video-controls #play { position: relative; top: 60px; background-image: url(../images/play.png); }
.video-controls #prev-chapter { position: absolute; top: 60px; left: 200px;  background-image: url(../images/prev-chapter.png); }
.video-controls #rewind { position: absolute; top: 60px; left: 360px; background-image: url(../images/rewind.png); }
.video-controls #forward { position: absolute; top: 60px; right: 360px; background-image: url(../images/forward.png); }
.video-controls #next-chapter { position: absolute; top: 60px; right: 200px; background-image: url(../images/next-chapter.png); }

.video-controls .progressbar { width: auto; height: 5px; background: #242424; }
.video-controls .progressbar-progress { width: 0px; height: 5px; background: #04e5e8; }

.home-header {
	padding: 8px 0 0 30px;
}

.home-movie-title {
	color: white;
	font-family: 'TwoFaced', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}

.chapter {
	padding: 10px;
	background-color: white;
	width: 60%;
	margin: auto;
	text-align: center;
}

.chapter .chapter-title {
	font-size: 24px;
	text-transform: uppercase;
}
.chapter .chapter-content {
	font-family: sans-serif;
}