.container-map {
	display: none;
	background-color: #020305;
	padding-bottom: 40px;
}

.map-navbar {
	height: 45px; width: 100%;
	position: absolute; top: 0; left: 0;
	border-bottom: 1px solid #9ea0a2;
	z-index: 20;

	background: #030d18 url(../images/map-title.png) no-repeat 25px 12px;
	background-size: 130px 22px;
}

.map-navbar .select-view { position: absolute; top: 10px; right: 25px; }
.map-navbar .select-view div {
	float: right;
	display: block;
	background: url(../images/map-view-picto.png) no-repeat left center;
	background-size: 24px 24px;
	padding-left: 30px; padding-top: 8px;
	color: white; font-size: 12px;
	margin-right: 15px; height: 22px;
}

.map-navbar .select-view .view-all {
	background: url(../images/map-view-picto2.png) no-repeat left center;
	background-size: 24px 24px;
}

.map-navbar .select-view div.selected { opacity: 0.3; }

.map-main {
	height: 460px; width: 3500px;
	padding-left: 75px; padding-top: 105px;
	position: relative; z-index: 15;
}

.map-bg {
	background: #09111c url(../images/map-bg.png);
	height: 460px; width: 3500px;
	position: fixed; z-index: 10;
}

.map-timeline {
	width: 3500px; height: 110px;
	-webkit-box-shadow: inset 0 0 10px #12181e;
	border-top: 1px solid #3c3c3c;
	border-bottom: 1px solid #3c3c3c;

	background: #192129 url(../images/map-timeline.png) repeat-x left 52px;
	background-size: 153px 13px;
	padding-left: 75px;
}

.map-timeline-time {
	color: white;
	font-size: 11px;
	width: 155px; text-align: center;
	position: relative; top: 75px;
	float: left;
}

.map-col {
	height: 420px; width: 135px;
	margin-right: 20px;
	float: left;
	position: relative;
}

.map-col-wrapper {
	position: absolute; bottom: 0; width: 135px;
}

.map-notice {
	height: 100px;
	border: 1px solid #322e2e;
	background: #060706;
	text-align: center;
	margin-bottom: 5px;
}

.map-notice.missed { display: none; }

.map-notice img.icon { margin-top: 25px; max-width: 26px; max-height: 26px; }
.map-notice .title { width: 90%; margin: 5px auto; font-size: 11px; text-align:center; text-transform: uppercase; font-family: 'Aller', sans-serif; color: white; }

.map-notice-detail {
	width: 100%; height: 530px; background: #000;
	position: absolute; top: 46px; left: 0; z-index: 20;
	color: white;

	background-image: url(../images/samples/notices/10_big.jpg);
	background-position: center top;
	background-size: cover;

	display: none;
}

.map-notice-detail .cat-icon {
	margin-top: 100px; text-align: center;
}

.map-notice-detail .title { width: 580px; text-transform: uppercase; text-align: center; font-size: 25px; margin: 10px auto 0 auto; }
.map-notice-detail .content { width: 580px; font-family: 'Sanchez', serif; text-align: center; font-size: 20px; margin: 30px auto 0 auto; }

.map-detail-bottom {
	position: absolute; bottom: 50px; left: 0; height: 160px; width: 100%;
	background: #060d17;
	display: none;
	z-index: 40;
}

.container-map .close {
	background: url(../images/close.png) no-repeat center center; background-size: 33px 33px;  position: absolute; width: 33px; height: 33px; top: 60px; right: 25px; z-index: 50; 
	display: none;
}

.container-map .socials {
	top: 500px;
	display: none;
}