html, body {
	background: #071528;
	background: url(../images/scope_bg.png) no-repeat left -147px;
	background-size: cover;
	width: 100%; height: 100%;
}

.yes, .no {
	width: 64px; height: 64px; background-repeat: no-repeat;
}

.yes { position: absolute; top: 250px; right: 150px; background-image: url(../images/choose-yes.png);}
.no  { position: absolute; top: 250px; left: 150px; background-image: url(../images/choose-no.png); }

.notice-slider {
	width: 100%;

}
.sample-notice {
	width: 535px;
	height: 500px;

	background: #fff;
	position: absolute; left: 24%; top: 60px;
}

.sample-notice .image { height: 230px; margin-bottom: 25px ; background: #000; }
.sample-notice .heading { text-transform: uppercase; font-size: 24px; text-align: center; padding-top: 15px; }
.sample-notice .content { font-family: sans-serif; text-align: center; margin: 35px auto 0 auto; padding: 10px; width: 450px;}