
.timeline-header {
	height: 530px; width: 100%;
}

.timeline-last-notice {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 470px;
	padding-top: 40px;
	
	text-align: center;
}

.view-grid-container .timeline-last-notice { height: 440px; position: relative;  }

/*.view-grid-container .timeline-last-notice-wrapper { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 10; background: rgba(8,19,33,0.7); }*/
/*.view-grid-container .timeline-last-notice .title { color: white; font-size: 20px; margin-top: 10px; margin-bottom: 5px;  }
.view-grid-container .timeline-last-notice .content { font-size: 12px; color: white; line-height: 14px; }
.view-grid-container .timeline-last-notice .timeline-cat-icon { margin-top: 15px;}
.view-grid-container .timeline-last-notice .timeline-cat-icon img { max-width: 35px; max-height: 35px; }
.view-grid-container .timeline-last-notice .display-notice-btn { bottom: 5px; color: white;}*/

.timeline-last-notice .timeline-cat-icon {
	margin-top: 55px;
	width: 100%; text-align: center;

}

.timeline-cat-icon img { height: 55px ; width: 55px; }

.timeline-last-notice .title { font-size: 25px; text-transform: uppercase; font-weight: normal; color: white; margin-top: 10px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.timeline-last-notice .content { font-family: 'Sanchez', serif;  font-size: 20px; line-height: 24px; width: 60%; margin: auto; color: white; height: 100px; overflow: hidden; text-overflow: ellipsis; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.timeline-last-notice .display-notice-btn {
	color: #03e1df;
	padding-top: 20px;
	font-size: 13px;
	background: url(../images/display-notice-btn.png) no-repeat center top;
	position: absolute; bottom: 45px;
	width: 100%; text-align: center;
	display: none;
}

.timeline-last-notice .replay-btn, .doc-category .replay-btn {
	background: url(../images/replay-btn.png) no-repeat center top;
	position: absolute; bottom: 110px;
	width: 100%;
	height: 50px;
	display: none;
}

.doc-category .replay-btn {
	display: block;
	bottom: 20px;
}

.timeline {
	position: absolute; left: 0px; bottom: 100px;
	width: 100%; 
	background: #161e26 url(../images/timeline-cursor.png) no-repeat 87% top;
	border-bottom: 1px solid #393a39;
	border-top: 1px solid #393a39;
}

.view-grid-container .timeline{  background-image: none;  }
.view-grid-container .timeline-body-container {  height: 190px; position: relative;
    /*overflow-y: scroll;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;*/
}

/* TIMELINE SCROLL */

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #303135;
    
}

::-webkit-scrollbar-track {
	background: #18191c;
	border-top: 1px solid #1b1b1d;
	border-bottom: 1px solid #1b1b1d;
}
*/


.timeline .cursor {
	background: url(../images/notice-arrow.png) no-repeat;
	width: 20px; height: 20px;
	position: relative; top: 0px; left: 93%;
	z-index: 30; 
}

.timeline-body-container, .chapter-timeline-container {
	width: 86%;
	height: 160px;
	overflow: hidden;
	-webkit-box-shadow: inset 0 0 10px #0f1317;
}

.timeline-body {
	background: url('../images/timeline-layout.png') repeat-x 0.5% center;
	width: 4500px; /* test : to remove */
	height: 150px;
	position: relative;
	left: 100%;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}



.timeline-notice {
	position: absolute; top: 25px; width: 35px; height: 35px; z-index: 150; opacity: 0.3;
}

.timeline-notice-bar {
	position: absolute; top: 73px; height: 15px; z-index: 150; 
}

.timeline-notice-title {
	position: absolute; top: 95px; height: 60px; max-width: 120px; z-index: 150;
	font-size: 12px; color: white; font-family: 'Aller', sans-serif;
}

.timeline-notice-time {
	height: 10px; width: 145px; z-index: 150;
	font-size: 11px; color: white; font-family: 'Aller', sans-serif;
	text-align: center;
	position: absolute; bottom: 65px;
	padding-left: 6px;
}

.grid-timeline {
	background: url(../images/timeline-grid.png) repeat-x left 74px;
	height: 150px;
	padding: 20px 0 0 1025px;
	position: relative;
	-webkit-box-shadow: inset 0 0 10px #171e26;
	width: 0;
}

.timeline-notice-block {
	width: 160px; height: 160px;
	float: left; margin-left: 15px;
	text-align: center;
	background-size: 240px 118px;
	background-clip: padding-box;
	background-repeat: no-repeat;
	background-position: center top;
	padding-bottom: 40px;
	position: relative;
	/*background-image: url(../images/samples/notices/1_big.jpg)*/
}

.timeline-notice-block-opaque {
	width: 161px; height: 160px;
	background-color: #192129;
}

.view-grid-container .timeline-slider {
	width: 100%;
	height: 17px; background: #18191c;
	border-top: 1px solid #3c3c3c;
	border-bottom: 1px solid #1b1b1d;
	position: absolute; bottom: 0; z-index: 201;
}

.view-grid-container .timeline-slider .scroller {
	height: 14px; width: 900px;
	margin-top: 2px;
	background: #303135;
	border-radius: 7px;
	position: absolute; right: 0; display: none;
}

.timeline .mask {
	position: absolute; right: -30px;
	z-index: 200;
	height: 100%;
	width: 300px;
	/*background: url(../images/timeline-grid-mask.png) repeat-y;*/
}

.timeline-notice-block img.icon { margin-top: 25px; max-width: 34px; max-height: 34px; }
.timeline-notice-block .title { width: 90%; margin: 5px auto; text-align:center; text-transform: uppercase; font-family: 'Aller', sans-serif; color: white; font-size: 12px; }

.timeline-notice-analyses { background: url(../images/notif-picto-analyses.png) no-repeat; }
.timeline-notice-impact { background: url(../images/notif-picto-impact.png) no-repeat; }
.timeline-notice-themes { background: url(../images/notif-picto-themes.png) no-repeat; }
.timeline-notice-anecdotes { background: url(../images/notif-picto-anecdotes.png) no-repeat; }
.timeline-notice-comment { background: url(../images/notif-picto-comment.png) no-repeat; }
.timeline-notice-scope { background: url(../images/notif-picto-scope.png) no-repeat; }

.timeline-notice-bar-analyses { background: #f0004e; background: url(../images/notice-bar-analyses.png) no-repeat -5px top; }
.timeline-notice-bar-impact { background: #ffc99d;  background: url(../images/notice-bar-impact.png) no-repeat -5px top;  }
.timeline-notice-bar-themes { background: #e4a100;  background: url(../images/notice-bar-themes.png) no-repeat -5px top; }
.timeline-notice-bar-anecdotes { background: #21ff9d; background: url(../images/notice-bar-anecdotes.png) no-repeat -5px top;  }
.timeline-notice-bar-comment { background: #00ecea; background: url(../images/notice-bar-comment.png) no-repeat -5px top;  }

.timeline-current-time {
	position: absolute;
	left: 87%; bottom: 65px;
	width: 80px; height: 35px;
	/*border-left: 2px solid white;*/
}

.notice-grid {
	background: #fff;
	height: 400px;
	overflow: hidden;
}

.chapter-timeline-container { position: absolute; left: 0px; bottom: 40px;  z-index: 20;}
.chapter-timeline { width: 2000px; height: 150px; background: url(../images/chapter-timeline.png) repeat-x -10px 100px; position: relative; }