* {
	-webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

body, html {
	background-color: #000;
}

canvas {
    display: block;
}

input {
    width: 200px;
}

body {
}

