
.timeline-last-notice {
	width: 100%;
	height: 300px;
	margin: 160px 0 0 0;
	padding-top: 40px;
	background: #e8e9eb;
	text-align: center;
	position: relative;
}

.timeline-last-notice .title { font-size: 28px; text-transform: uppercase; }
.timeline-last-notice .content { font-size: 20px; line-height: 26px; width: 60%; margin: auto; }
.timeline-last-notice .display-notice-btn {
	color: #94979c;
	padding-top: 20px;
	font-size: 13px;
	background: url(../images/display-notice-btn.png) no-repeat center top;
	position: absolute; bottom: 15px;
	width: 100%; text-align: center;
}

.timeline {
	position: absolute; left: 0px; bottom: 110px;
	width: 100%; 
}

.timeline-body-container {
	width: 87%;
	height: 50px;
	overflow: hidden;
}

.timeline-body {
	background: url('../images/timeline-layout.png') repeat-x center center;
	width: 4500px; /* test : to remove */
	height: 50px;
	position: relative;
}

.nav-notif .unread-counter {
	background: url(../images/unread-counter-bg.png) no-repeat center center;
	width: 22px; height: 22px;
}